<p>Hi {{firstname}},</p>
<p>We received a message that you are registing an account at AdherencePill.com.</p>
<p>please click the following link to active your account:</p>
<a href="{{link host type token email firstname}}">Activate my account!</a>