<p>Hi {{firstname}},</p>
<p>We received a message that you are resetting your password at AdherencePill.com.</p>
<p>please click the following link to reset your password:</p>
<a href="{{link host type token email firstname}}">Reset my password!</a>